{% if is_paginated %}
<nav aria-label="Page navigation" style="margin: 10px;">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}

    {% for p in page_obj.paginator.page_range %}
    {% if page_obj.number == p %}
    <li class="page-item"><a class="page-link" style="color: rgb(87, 26, 26);" href="#">{{ p }}</a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

    {% endif %}
  </ul>
{% else%}

</nav>

{% endif %}